/*NEXT: Smooth Scrolling
Highlight active nav. as user scrolls
Change color scheme? fonts?
Responsive layout (mobile and cross browser compatibility)
Animation
Contact Location/Full name?
*/

body{
    margin:0;
    padding:0;
    color: black;
    font-family: 'Roboto', 'arial', 'sans-serif';
}
a{
    text-decoration: none;
}
a:link{
    color:dimgray;
}

/*-- NAVIGATION -----------------------*/
nav ul{
    z-index: 10;
    list-style-type: none;
    padding:0;
    position: fixed;
    top:-20px;
    padding-left:20px;
    text-transform: uppercase;
    background-color:#9197A4;
    /*background-color: #A29DA8;*/
    opacity:0.9;
    width:100%;
}
nav li{
    display: block;
    padding: 15px;
    float: left;
}
nav li a:hover{
    border-bottom: 2px solid #3B1255;
}
a:visited{
    color:#D0D2D8;
}


nav a.active{
    color: #3B1255;
    border-bottom: 2px solid #3B1255;
}
/*-- END NAVIGATION -----------------------*/
/*------------------------------------------*/


/*-- ALL SECTIONS -----------------------*/
h1{
    font-size:2.3em;
}
h2{
    font-size: 2em;
}
.container{
    padding: 5% 10%;
    min-height: 500px;
    
}
.container p{
    font-size:1.1em;
}

.bold {
    font-weight: 510;
}


/*-- HOME -----------------------*/
.home{
    padding-top: 300px;
    text-align: center;
    background-image: url(images/Yosemite.jpg);
    background-size: cover;
    background-color:#9197A4;
    color:white;
}
.home p{
    color:white;
    font-size: 1em;
    padding-top: 30px;
}
/*-- END HOME -----------------------*/
/*------------------------------------------*/


/*-- ABOUT -----------------------*/
.about{
    color: #3B1255;
    /*background-color: #B4B8BF;*/ 
}
.icon{
    height:50px;
    width:auto;
    border:0;
} 
.about .images{
    padding: 60px 0px;
    width:50%;
    margin: auto;
    text-align:center;
}
#headshot{
    float: right;
    height:auto;
    width:100%;
    max-width:150px;
    padding-left:30px;
}
.about a:hover{
    text-decoration: underline;
}

.lst1{
    width:10%;
    float:left;
}

.list2{
    margin-left: 10%;
}

.narrow{
    margin-bottom:0;
}

.center{
    margin:auto;
    width: 50%;
    padding-top: 20px;
}

.list1{
    width:40%;
    float:left;
    margin-left: 100px;
}
.list2{
    margin-left: 40%;
    margin-top: 35px;    
}

.cent{
    text-align: center;
}

/*-- END ABOUT -----------------------*/
/*------------------------------------------*/


/*-- PORTFOLIO -----------------------*/

.cont{
    position:relative;
}
.cont:hover .sampleImg{
    opacity: 0.3;
}
.cont:hover .middle{
    opacity:1;
}
.middle{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 55px;
    left: 75px;
    text-align:center;
}
.click{
    background-color: white;
    color:#A29DA8;
    padding: 10px;
    border-radius: 20px;
}

.portfolio{
    background-color: #A29DA8;
    color: white;
    /*background-color: #8B7B89;*/
}
.sample{
    display: block;
    padding: 20px;
    margin-bottom: 30px;
}
.sample .lang{
    background-color: #D0D2D8;
    color: #3B1255 ;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    margin-right:10px;
}
.sampleImg{
    width: auto;
    height: 150px;
    border-radius: 20px;
    opacity:1;
    display:block;
    transition:0.5s ease;
    backface-visibility: hidden;
    margin-bottom: 10px;
    vertical-align: middle;
}
.left{
    float: left;
    margin-right: 50px;
}
.right{
    float: right;
    margin-right:150px;
}
.purple{
    color:#3B1255;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*-- END PORTFOLIO -----------------------*/
/*------------------------------------------*/


/*-- CONTACT -----------------------*/
.contact{
    color: #3B1255;
}
.contact p{
    padding-bottom:20px;
}
.contact a{
    color: #3B1255;
}
.contact a:hover{
    text-decoration: underline;
    color:dimgray;
}
.contactInfo{
    display:block;
    padding-left: 50px;
    padding-bottom: 15px;
}
.contactInfo img{
    vertical-align:middle;
    padding-right:10px;
}
.contactInfo img:hover{
    opacity:0.5;
}
/*-- END CONTACT -----------------------*/
/*------------------------------------------*/


/*-- FOOTER -----------------------*/
footer{
    /*background-color: #D0D2D8;*/
    background-color: #9197A4;
    color: white;
    font-size: 0.7em;
    text-align:center;
    padding: 1%;
}
footer a{
    padding:5px;
    margin: 15px;
}
footer img{
    vertical-align:middle;
    opacity:0.9;
}
footer img:hover{
    opacity:0.5;
}
